<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile page</title>
</head>

<body>
    <h1>profile page</h1>
    <h1>welcome, {{name}}</h1>

    <a href="{% url 'logout' %}">logout</a>
    <a href="{% url 'changepassword' %}">change password</a>


    {% if messages %}
    {% for i in messages %}
    <span {% if i.tags %} class="{{i.tags}}" {% endif %}>
        {{i}}
    </span>

    {% endfor %}

    {% endif %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for i in form.non_field_errors %}
        <p class="error">{{i}}</p>
        {% endfor %}
        {% endif %}
        {% for i in form %}
        {{i.label_tag}}{{i}} {{i.errors|striptags}}<br><br>
        {% endfor %}
        <input type="submit" value="save">
    </form>
</body>

</html>